:root{
    --yw: yellow;
    --vio: #08023bf3;
    --w: rgb(247, 247, 247);
}

p{
    color: var(--w);
}

h1, h2, h3, b{
    color: var(--w);
}

textarea:focus{
    outline: none;
}

/* Header */
.img-futur{
    background-image: url('./Media/bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.logo-aulab-1{
    height: 60px;
    width: 158px;
}

.h3-header{
    font: 1.3rem 'Montserrat', sans-serif;
}

h1{
    font-weight:bold;
    font: 4rem "Fira Sans", sans-serif;
}

/* Icon-calendar */
.p-calendar{
    font-weight: 700;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}

/* Button */
.button-header{
    color: var(--yw);
    margin-top: 45px;
    font-size: 1.2rem;
    padding: 18px 25px;
    border-radius: 30px;
    border: 1px solid var(--yw);
}

.button-header:hover{
    color: aqua;
    transform: scale(1.1);
    border: 1px solid aqua;
}

/* Section-1 */
.section-1{
    background-color: var(--vio);
}

.h3-section-1{
    max-width: 620px;
}

.p-section-1{
    max-width: 85%;
}

/* icon-gaming */
.icon-gaming{
    width: 85%;
    height: 100%;
}

.custom-icon-gaming{
    padding-top: 15px;
    padding-left: 150px;
}

/* Section-2 */
.section-2{
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Media/bg-2.jpg');
}

.container-section-2{
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
}

.sotto-card{
    display: flex;
    justify-content: center;
}

.container-card{
    top: 50px;
    width: 45%;
    display: flex;
    position: relative;
    border-radius: 15px;
    align-content: center;
    flex-direction: column;
    background-color: var(--vio);
}

.calendar-section-2{
    width: 110px;
    height: 110px;
    margin-right: 15px;
    border-radius: 150px;
    background-color: #ffd500;
}

.custom-calendar{
    top: 22px;
    left: 28px;
    z-index: 1;
    color: white;
    position: relative;
}

.textarea{
    padding-top: 25px;
}

textarea{
    padding: 0; 
    width: 100%;
    height: 40px;
    resize: none; 
    border: none;
    font-size: 20px; 
    color: var(--w);
    background-color: var(--vio); 
    border-bottom: 2px solid rgb(255, 0, 255); 
}

.textarea-number{
    width: 69.8%;
}

.button-section-2{
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 30px;
    margin-bottom: 70px;
    border: 1px solid var(--yw);
    background-color: var(--yw);
}

.container-section-3{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: var(--vio);
}

.logo-aulab-futur{
    width: 75%;
    height: 100%;
}

.container-section-4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Media/bg-3.jpg');
}

.p-section-4{
    font-size: 1.5rem;
    padding-right: 20%;
}

.marco-insabato{
    width: 65%;
    padding-left: 10%;
}

@media screen and (max-width: 767.98px){
    .icon-gaming{
        width: 95%;
        height: 107%;
    }

    .custom-icon-gaming{
        padding: 0;
    }

    .container-card{
        width: auto;
        padding: 0;
    }

    .container-section-2{
        padding-top: 8%;
        padding-left: 2.8%;
        padding-right: 2.8%;
    }

    .textarea-number{
        width: 66.7%;
    }

    .logo-aulab-futur{
        width: 90%;
    }

    .p-section-4{
        width: 110%;
        font-size: 1.4rem;
    }

    .marco-insabato{
        width: 80%;
        padding-top: 10%;
    }
}